html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #141414;
}

.oc-button__alt-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

::placeholder {
  color: gray;
}